body{
    background-image: url(https://imgs.search.brave.com/J9tpEEq6jHHLii6B4-Dq3hogTDzF1EWP_0d5k2sprUw/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/Zm90b3MtcHJlbWl1/bS9vbmRhLWFndWEt/YWJzdHJhY3RhLWJ1/cmJ1amFzLWFpcmVf/NDc2MzYzLTQ2NjEu/anBnP3NlbXQ9YWlz/X2h5YnJpZA);
    background-size: cover;
}

button{
    color: black;
}